<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
        @layer utilities {
            ::-webkit-scrollbar {
                width: .5rem;
                height: .5rem;
            }
            ::-webkit-scrollbar-thumb {
                background: rgba(0,0,0,.15);
            }
            ::-webkit-scrollbar-thumb:hover {
                background: rgba(0,0,0,.3);
            }
        }
      </style>
    <title>{% block title %} {% endblock title %}</title>
</head>


<body class="relative bg-yellow-50 overflow-hidden max-h-screen">
    {% block content %}

    {% endblock content %}
</body>


</html>