{% extends 'webapp/_base.html' %}
{% block title %} {% endblock title %}
{% block content %}
<header class="fixed right-0 top-0 left-60 bg-yellow-50 py-3 px-4 h-16">
    <div class="max-w-4xl mx-auto">
        <div class="flex items-center justify-between">
            <div></div>
            <div class="text-lg font-bold">Student Information System</div>
            <div></div>
        </div>
    </div>
</header>
{% include "webapp/_sidebar.html" %}
<main class="ml-60 pt-16 max-h-screen overflow-auto">
    <div class="px-6 py-8">
        <div class="max-w-6xl mx-auto">
            <div class="bg-white rounded-3xl p-8 mb-5">
                <h1 class="text-3xl font-bold mb-5">{{routines.0.get_day_of_week_display}}'s Routine</h1>
                <div class="grid grid-cols-4 gap-3">
                    {% for routine in routines %}
                    <div class="p-4 bg-gray-700 rounded-xl text-blue-50">
                        <div class="text-lg leading-none">{{routine.starts}} - {{routine.ends}}</div>
                        <div class="mt-1 text-lg font-medium">{{routine.teacher}}</div>
                    </div>
                    {% endfor %}
                </div>
                <hr class="my-10" />

                <div class="grid grid-cols-2 gap-x-20">
                    <div>
                        <h2 class="text-2xl font-bold mb-4">Stats</h2>

                        <div class="grid grid-cols-2 gap-4">
                            <div class="col-span-2">
                                <div class="p-4 bg-green-100 rounded-xl">
                                    <div class="font-bold text-xl text-gray-800 leading-none">
                                        Good day, <br />{{user}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-span-2">
                                <div class="p-4 bg-purple-100 rounded-xl text-gray-800">
                                    <div class="font-bold text-xl leading-none">
                                        Todays event
                                    </div>
                                    <div class="mt-2">RAn event</div>
                                </div>
                            </div>
                            <div class="col-span-2">
                                <div class="p-4 bg-blue-100 rounded-xl text-gray-800">
                                    <div class="font-bold text-xl leading-none">
                                        Attendance
                                    </div>
                                    <div class="mt-2">RAN %</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="place-items-center">
                        <h2 class="text-2xl font-bold mb-3">Assignments</h2>
                        <div class="space-y-4">
                            {% for assignment in remaining_assignments %}
                            <div class="p-4 bg-indigo-300 border rounded-xl text-gray-800 space-y-2">
                                <a href="javascript:void(0)" class="font-bold">{{assignment.topic}}</a>
                                <div class="text-sm text-gray-600">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        class="text-gray-800 inline align-middle mr-1" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                    </svg>Deadline on: {{assignment.due_date}}
                                </div>
                            </div>
                            {% endfor %}
                            <a href="#"><button
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                                    All Assignments
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}